body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-bottom: 50px;
}
h1{
    font-size: 60px;
}
.ni{
    color:skyblue
}
.flexible-container{
    display: flex;
    margin-bottom: 10pz;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
   width: 80%;
   border-radius: 250px;
   margin-top: 40px;
   margin-bottom: 150px;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(tomato, rgb(63, 157, 180));
padding: 10px 20px;
font-size: large;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 900;
color: black;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
background-image: url(dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}
.box-sdw{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 15px;
    
}
h2{
    font-size: 30px;
}
.experience-area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   }
   #baby-web{
       border-left: 10px solid;
       border-image: linear-gradient(blue cyan);
       border-image-slice: 1;
   }
   #full-stack-experience{
    border-left: 10px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}